In [1]:
import pandas as pd
import gc

In [20]:
dataset = pd.read_csv('/kaggle/input/chess-games/chess_games.csv', usecols=['Result', 'WhiteElo', 'BlackElo', 'Termination', 'AN'])

In [21]:
dataset.groupby('Termination').size()

Termination
Abandoned             14630
Normal              4230089
Rules infraction        128
Time forfeit        2011336
Unterminated              1
dtype: int64

In [22]:
dataset.drop(dataset[dataset['Termination'] != 'Normal'].index, inplace = True)
dataset.drop('Termination', axis=1, inplace = True)
dataset.head()

,Result,WhiteElo,BlackElo,AN
1,0-1,1641,1627,1. e4 e5 2. b3 Nf6 3. Bb2 Nc6 4. Nf3 d6 5. d3 ...
3,1-0,1706,1317,1. e3 Nf6 2. Bc4 d6 3. e4 e6 4. Nf3 Nxe4 5. Nd...
5,0-1,1773,1809,1. e4 e5 2. Nc3 d6 3. Nf3 h6 4. Bc4 c6 5. b3 Q...
7,1-0,2155,2356,1. d4 d5 2. Nf3 Nf6 3. Bf4 c6 4. e3 Bg4 5. Be2...
8,0-1,2010,2111,1. d4 Nf6 2. Bf4 e6 3. e3 d5 4. Nf3 h6 5. Bd3 ...

In [28]:
len(dataset[(dataset.WhiteElo < 2000) | (dataset.BlackElo < 2000)])

3817168

In [29]:
dataset.drop(dataset[(dataset.WhiteElo < 2000) | (dataset.BlackElo < 2000)].index, inplace = True)
dataset.drop('WhiteElo', axis=1, inplace = True)
dataset.drop('BlackElo', axis=1, inplace = True)
print(len(dataset))
dataset.head()

412921

   Result                                                 AN
7     1-0  1. d4 d5 2. Nf3 Nf6 3. Bf4 c6 4. e3 Bg4 5. Be2...
8     0-1  1. d4 Nf6 2. Bf4 e6 3. e3 d5 4. Nf3 h6 5. Bd3 ...
26    0-1  1. e4 d6 2. d4 Nf6 3. Bd3 g6 4. h4 c5 5. h5 Nx...
39    1-0  1. e4 e6 2. d4 d5 3. Nc3 Bb4 4. e5 c5 5. a3 cx...
44    0-1  1. d4 d5 2. Nc3 c6 3. Nf3 Nf6 4. Bg5 e6 5. e3 ...

In [30]:
dataset.groupby('Result').size()

Result
0-1        183211
1-0        201621
1/2-1/2     28089
dtype: int64

In [31]:
dataset.drop(dataset[dataset['Result'] == '1/2-1/2'].index, inplace = True)
dataset.groupby('Result').size()

Result
0-1    183211
1-0    201621
dtype: int64

In [35]:
dataset.head()

   Result                                                 AN
7     1-0  1. d4 d5 2. Nf3 Nf6 3. Bf4 c6 4. e3 Bg4 5. Be2...
8     0-1  1. d4 Nf6 2. Bf4 e6 3. e3 d5 4. Nf3 h6 5. Bd3 ...
26    0-1  1. e4 d6 2. d4 Nf6 3. Bd3 g6 4. h4 c5 5. h5 Nx...
39    1-0  1. e4 e6 2. d4 d5 3. Nc3 Bb4 4. e5 c5 5. a3 cx...
44    0-1  1. d4 d5 2. Nc3 c6 3. Nf3 Nf6 4. Bg5 e6 5. e3 ...

In [34]:
dataset.to_csv('/kaggle/working/filtered_chess_games.csv')